html {
  box-sizing: border-box;
  border-bottom-color:LightGoldenRodYellow;
  border-bottom-style: double;
  border-style: solid;
  border-color: #003366;
}

 



body {
  font-size: 16px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
}

/**
 * Link Styles
 */
a {
  text-decoration: none;
}
.header {
padding: 10px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 2000px;
    border: 4px double red;
    margin: 10px auto;
}

.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow: 
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}
.border-menu {
  position: relative;
  padding-left: 1.25em;
}

.header-wrapper-name {
  font-size: 20px;
  font-weight: bold;
  color: rgb(220,20,60);
}


.sidenav {
  height: 50%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 10;
  left: 10;
  
}

.Sub-heading {
  font-style: inherit;
  color: red;
  font-family: 'Righteous', cursive;
  text-align: center;
}
.menuBtn {
  -webkit-appearance: none;
  -moz-appearance:none;
  appearance: none;
  background: transparent;
  border: hidden;
  position: relative;
  z-index: 100;
  display: none;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

/**
 * Menu Styles
 **/
.mainMenu {
  display: inline-block;
  
}

/**
 * Main Area
 */
.main {
  max-width: 1040px;
  padding: 0 20px;
  margin: 20px auto 0;
}

@media screen and (max-width: 960px) {
  .menuBtn {
    display: block;
  }

  .menuContainer {
    display: none;
  }

  .mainMenu {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    flex: 1 1 auto;
  }

  .mainMenu.isOpen {
    display: flex;
  }

  .mainMenu-item {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
  }

  .mainMenu-item-link {
    align-self: stretch;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 961px) {
  .mainMenu-item + .mainMenu-item {
    margin-left: 20px;
  }
}